<!DOCTYPE html>
<html lang="en">
	<title>
		@!section('title')
	</title>
	<head>
		@include('theme.includes.head')
		@include('theme.includes.headcss')
		@!section('pagecss')
	</head>
	<body>
		<div id="app">
			@include('theme.includes.navbar')
			@!section('content') 
			@include('theme.includes.footer')
		</div>
	</body>
	@include('theme.includes.footerjs')
	@!section('pagejs')
</html>