<html>
	<head>
		<style>
			.btn-primary{
				padding:10px;
				background-color: #00b2b2;
				text-decoration: none;
				display: inline-block;
				color: white;
				font-weight: bold;
			}
		</style>
	</head>
	<body>		
		<a href="{{app_url()+route('admin.forgot.reset',{ token : token })}}" class="btn-primary">
			Click Here to Reset Your Password.
		</a>
		
	</body>
</html>